@{
    ViewBag.Title = "旅图网商户平台";
}

<div class="jumbotron">
    <h1>旅图网商户平台</h1>
    <p class="lead">旅图网为旅游规划师与普通游客建立一个桥梁，让规划师为广大自助游爱好者提供最佳的旅游规划。</p>
    <p><a href="home/Introduction" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>更好的展现</h2>
        <p>
            你可以将你的旅游规划通过更直观的方式展现，给旅游用户带来更劲爆的视觉冲击力，让他们选择你的规划
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Planer/Index">展示平台 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>便捷的制作</h2>
        <p>
            你可以简便的导入之前的旅游资源，包括文字、图片、视频，也可以使用App记录旅游，快速获得旅游规划的框架
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/TravelPlans/Index">开始制作 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>完美的对接</h2>
        <p>你可以完美对接旅游用户，平台为你们的交流、规划提供一个安全可靠的平台，助力你的创业成功</p>
        <p><a class="btn btn-primary btn-lg" href="~/PlanTrade/Index"> 查看需求&raquo;</a></p>
    </div>
</div>