@{
    ViewBag.Title = "旅图网商户平台介绍";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<table class="table">
    <tr>
        <th>
            功能
        </th>
        <th>
            说明
        </th>
      
    </tr>
    <tr>
        <td>
            规划师导入现有资源
        </td>
        <td>
            批量导入现有图片，视频，文字资源。<br />
            导入app现有线路图
        </td>
    </tr>
    <tr>
        <td>
            规划师制作旅游线路图
        </td>
        <td>
            选择系统现有资源，结合电子地图，制作出旅游线路规划图
        </td>
    </tr>
    <tr>
        <td>
            规划师制作个人主页
        </td>
        <td>
            上传个人照片，介绍，旅游资源和过往作品
        </td>
    </tr>
    <tr>
        <td>
            对接用户
        </td>
        <td>
            查看用户需求，为用户制作线路规划图
        </td>
    </tr>
   
</table>
   
